{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to My Website</h1>

    {% if user %}
        <p>Hello, {{ session['user']['first_name'] }}!</p>
        <button onclick="window.location.href = 'user/logout';">Logout</button>
    {% else %}
        <p>Hello, Guest!</p>
    {% endif %}
    
    <button onclick="window.location.href = 'user/signup';">Sign Up</button>
    <button onclick="window.location.href = 'user/login';">Login</button>
    <button onclick="window.location.href = 'about';">About</button>
{% endblock %}